################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/xllproject1/v16
/Debug
/x64/Debug
/Release
/x64/Release
/.vs
/xll_template/Debug
/xll_template/Release
/xll_template/x64
